body {
  font-style: "Georgia";
}
.logo {
  h2 {
    margin-bottom: 0;
    color: #ccab89;
    font-weight: lighter;
  }
  p {
    font-size: 12px;
    margin-top: 2px;
  }
}

header {
  height: 100vh;
  min-height: 320px;
  background: url("./images/Background.png") no-repeat center center;
  background-size: cover, contain;
  background-position: center center, right bottom;
  background-blend-mode: overlay;
  position: relative;
  color: #f7f7f7;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
  min-height: 8vh;
  margin-bottom: 25vh;
  

  h4 {
    color: #f7c948;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  li {
    list-style: none;
  }
  a {
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-style: 'Arial';
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: #f7f7f7;
    margin: 5px;
    transition: all 0.3s ease;
    transform-origin: 1px;
    .line1 {
      transform: rotate(0);
    }
    .line2 {
      transform: translateX(0);
    }
    .line3 {
      transform: rotate(0);
    }
  }
}
.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  transform: translateX(100%);
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}
.main-header-text {
  width: 30%;
  margin-left: 15%;
  h1 {
    font-weight: lighter;
    font-size: 50px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  button {
    border-radius: 50px;
    padding: 10px;
    width: 40%;
    margin-top: 20px;
    background-color: #ccab89;
    border: none;
  }
}

.header-container {
  display: flex;
  flex-direction: row;

  img {
    height: 90vh;
  }
}
