@charset "UTF-8";
body {
  font-family: "Arial";
}

.logo h2 {
  margin-bottom: 0;
  color: #ccab89;
  font-weight: lighter;
}

.logo p {
  font-size: 12px;
  margin-top: 2px;
}

header {
  height: 100vh;
  min-height: 320px;
  background: url("./images/Background.png") no-repeat center center;
  background-size: cover, contain;
  background-position: center center, right bottom;
  background-blend-mode: overlay;
  position: relative;
  color: #f7f7f7;
  font-family: "Georgia";
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  margin-bottom: 25vh;
}

nav h4 {
  color: #f7c948;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
  font-family: "Arial";
}

.nav-links a {
  color: #f7f7f7;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative;
}

.nav-links a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: -8px;
  border-bottom: 3px solid #ccab89;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f7f7f7;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}

.burger div .line1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.burger div .line2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger div .line3 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.toggle .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #2f2723;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.main-header-text {
  width: 30%;
  margin-left: 15%;
}

.main-header-text h1 {
  font-weight: lighter;
  font-size: 50px;
}

.main-header-text p {
  font-size: 16px;
  line-height: 26px;
}

.main-header-text button {
  border-radius: 50px;
  padding: 10px;
  width: 40%;
  margin-top: 20px;
  background-color: #ccab89;
  border: none;
  cursor: pointer;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-container img {
  height: 90vh;
}

.about-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  font-family: "Arial";
  font-weight: lighter;
}

#about-text {
  width: 50%;
}

#about-text p {
  line-height: 22px;
  letter-spacing: 0.08em;
  line-height: 24px;
  font-size: 14px;
  font-weight: 100;
}

h2 {
  font-size: 28px;
  font-size: 33px;
  font-weight: lighter;
  letter-spacing: 0.014em;
  font-family: "Georgia";
  font-size: 35px;
  font-weight: 100;
  font-style: normal;
  line-height: 52px;
  color: #545454;
}

.main-part {
  color: #545454;
  padding-bottom: 100px;
}

.pet {
  background-color: #fafafa;
  height: 400px;
  width: 350px;
  margin-left: 5%;
}

.pet img {
  width: 220px;
  height: 250px;
}

.carousel {
  width: 50%;
  margin: auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
  height: 300px;
}

.slick-prev {
  position: absolute;
  top: 35%;
  left: -20%;
  z-index: 22;
  width: 30px;
  height: 30px;
  background: url(./images/left-arrow.svg) center;
  background-size: 40%;
  padding: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border-color: #ccab89;
}

.slick-next {
  position: absolute;
  top: 35%;
  right: -20%;
  z-index: 22;
  width: 30px;
  height: 30px;
  background: url(./images/right-arrow.svg) center;
  background-size: 40%;
  padding: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border-color: #ccab89;
}

.wrapper {
  margin-top: 50px;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 50px;
  font-weight: lighter;
  padding-bottom: 50px;
}

.wrapper h2 {
  font-weight: 100;
  line-height: 39px;
  padding-bottom: 20px;
  letter-spacing: 0.061em;
}

.wrapper .learn_more_btn {
  width: 80%;
  padding: 4%;
  border-radius: 20px;
  border: 2px #ccab89 solid;
  font-weight: 100;
  font-family: "Georgia";
}

.wrapper .learn_more_btn:hover {
  background-color: #ccab89;
  cursor: pointer;
}

.pet {
  padding-bottom: 15px;
  border-radius: 5px;
}

.pet h3 {
  font-weight: 100;
  font-family: "Georgia";
  letter-spacing: 0.099em;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: auto;
}

.help-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help-option img {
  width: 45px;
}

.help-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-section h3 {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  margin: 100px 0;
}

.know-the-rest {
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: #f1cdb3;
  cursor: pointer;
}

.help-option img {
  height: 45px;
}

.help-option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-options {
  width: 70%;
  margin-bottom: 30px;
}

.donation {
  background-color: #f6f6f6;
}

.donation-main {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  padding: 5% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation-main .donation-img {
  width: 400px;
  height: 250px;
}

.donation-text {
  margin-left: 46px;
}

.donation-text h3 {
  font-family: "Georgia";
  font-weight: 100;
  font-size: 36px;
  margin-top: 0;
}

.donation-text .credit-card-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f1cdb3;
  padding: 10px;
  border-radius: 15px;
}

.donation-text p {
  margin-top: 20px;
}

footer {
  background: url("./images/footer-dog.png") center;
  background-size: cover;
}

footer .footer-container {
  padding: 40px;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  margin-left: 50px;
}

footer .footer-info-container h3 {
  color: white;
  font-weight: 100;
  font-family: "Georgia";
  font-size: 30px;
}

footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c9ab96;
}

footer .footer-info img {
  margin-right: 10px;
}

footer .footer-info span {
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  header {
    background-image: url("./images/no-dog-bg.png");
  }
  header .main-header-text {
    width: 70%;
    margin: auto;
  }
  header nav {
    margin-bottom: 10vh;
    padding-top: 10vh;
  }
  .about-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-text {
    width: 100%;
  }
  .wrapper h2 {
    font-size: 27px;
  }
  /* styles.css | http://127.0.0.1:5500/styles.css */
  .help-option img {
    /* height: 45px; */
    height: 25px;
  }
  .help-option img {
    /* width: 45px; */
    width: 25px;
  }
  /* Елемент | http://127.0.0.1:5500/ */
  .row1 p,
  .row2 p {
    font-size: 12px;
  }
  .help-options {
    width: 100%;
  }
  .row1 {
    width: 90%;
  }
  .row2 {
    width: 75%;
  }
  /* styles.css | http://127.0.0.1:5500/styles.css */
  .help-section h3 {
    font-size: 24px;
    margin: 70px 0;
  }
  /* styles.css | http://127.0.0.1:5500/styles.css */
  .donation-main .donation-img {
    height: 100%;
    width: 100%;
  }
  .donation-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donation-text h3 {
    font-size: 28px;
    margin-top: 21px;
  }
  /* styles.css | http://127.0.0.1:5500/styles.css */
  footer .footer-info-container {
    width: 100%;
    margin-left: 0px;
  }
  footer .footer-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-info-container h3 {
    font-size: 22px;
  }
  footer .footer-info-container span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */